# Payment API Environment Variables
NODE_ENV=development
PORT=5001
MONGO_URI=mongodb+srv://<user>:<password>@cluster0.xxxxx.mongodb.net/aethel?retryWrites=true&w=majority
JWT_SECRET=change_me_to_a_64_char_random_string
SERVICE_SECRET=change_me_to_another_64_char_random_string
STRIPE_SECRET_KEY=YOUR_STRIPE_SECRET_KEY_HERE
STRIPE_WEBHOOK_SECRET=YOUR_STRIPE_WEBHOOK_SECRET_HERE
CORE_SERVICE_URL=http://core-api:5000
